{% extends 'front.html.twig' %}

{% block title %}Mes Posts{% endblock %}

{% block body %}
    {% for post in posts  %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="{{ asset('Upload/')}}{{ post.image }}" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ post.description }}</h2>
                    <a href="{{ path("app_post_show",{'idPost': post.idPost}) }}">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text">{{ post.dateP ? post.dateP|date('Y-m-d') : '' }}</span>
                <span></span>
            </div>
            <div style="text-align: center">
            <a class="btn btn-danger" href="{{ path("delete",{'id': post.idPost}) }}">Delete</a>
            <a class="btn btn-secondary" href="{{ path("app_post_edit",{'idPost': post.idPost}) }}">Edit</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}


